<h1>Dashboard</h1>
<p>Statistics about metadata</p>

<ul>
<li><a href="dashboard/properties">Properties</a></li>
<li><a href="dashboard/classes" >Classes</a></li>
<li><a href="dashboard/classesproperties" >Classes properties</a></li>
<li><a href="dashboard/topcollections" >Top collections</a></li>
</ul>
